{
	"presets": [
		"@babel/preset-env",
		"@babel/preset-react",
		[
			"@babel/env",
			{
				"modules": false,
				"useBuiltIns": "usage"
			}
		]
	],
	"plugins": ["@babel/plugin-proposal-class-properties"]
}
