.home-container {
	padding: 9.5rem 0;
	max-width: 82%;
	height: 100%;
	margin: 0 auto;
	border: 1px solid #000;
	box-sizing: content-box;
	.header-container {
		width: 100%;
		display: flex;
		justify-content: space-around;
		.column-1 {
			border: 1px solid rgb(211, 79, 160);
			width: 70%;
			display: flex;
			justify-content: space-a;
			align-items: center;
			.main-topic-heading {
				color: #000;
			}
			.search-bar {
				.search-input {
				}
			}
		}
		.column-2 {
			width: 30%;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			.stadium-button {
				display: flex;
				align-items: center;
				outline: none;
				cursor: pointer;
				padding: 0.6rem 1.8rem;
				border-radius: 2rem;
				border: 1px solid rgb(190, 190, 190);
				background-color: #fff;
				.status-pointer {
					height: 0.5rem;
					width: 0.5rem;
					border-radius: 50%;
					background-color: rgb(60, 184, 23);
					margin-right: 0.5rem;
				}
				p {
					margin: 0;
					font-size: 1rem;
				}
				// .dropdown-pointer {
				// 	padding: 0.3rem;
				// 	border-radius: 50%;
				// 	background-color: rgb(60, 184, 23);
				// }
			}
		}
	}
	.main-container {
		width: 100%;
		.row {
			display: flex;
			.column {
				border: 1px solid #0cdb7b;
				height: 100%;
			}
			.three-wide {
				width: 22%;
				margin: 0 auto 0 0;
			}
			.eight-wide {
				width: 50%;
			}
			.four-wide {
				width: 25%;
			}
		}
	}
}
